@{
    decimal? tongtien = ViewBag.TongTien;
    string TongGiaTien = tongtien.Value.ToString("#,##0"); ;

    
}

<div id="GioHangPartial" class="cart box_1">
    <a href="@Url.Action("XemGioHang","GioHang")">
        <h3>
            <i class="fa-solid fa-cart-shopping"></i>
            <div data-total="@ViewBag.TongTien" data-slide="@ViewBag.TongSoLuong" class="total">

                @TongGiaTien VND (<span>@ViewBag.TongSoLuong</span>)
            </div>

        </h3>
    </a>
   
</div>



