body {
}
#popup {
    
    background-color: rgba(30,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
#frm-DangNhap{
    max-width: 600px;
    background-color: white;
    margin-top: 150px;
    position: relative;
}
#close-icon{
    position: absolute;
    top:0;
    right: 0;
    padding: 16px;
    cursor: pointer;
    
}
#binhluan{
    height: auto;
    margin-bottom: 12px;
}
#TenBL{
    font-size: 13px;
}
#ndBL {
    font-size: 13px;
}
#btn-BL{
    margin: 12px;
    height: 40px;
}

#TLbinhluan {
    height: auto;
    background: #d5d5d5;
    margin: 8px;
    width: 98% !important;
}