body {
}
#popup {
    
    background-color: rgba(30,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
#frm-DangNhap{
    max-width: 600px;
    background-color: white;
    margin-top: 150px;
    position: relative;
}
#close-icon{
    position: absolute;
    top:0;
    right: 0;
    padding: 16px;
    cursor: pointer;
    
}
#binhluan{
    height: auto;
    margin-bottom: 12px;
}
#TenBL{
    font-size: 13px;
}
#ndBL {
    font-size: 13px;
}
#btn-BL{
    margin: 12px;
    height: 40px;
}

#TLbinhluan {
    height: auto;
    background: #d5d5d5;
    margin: 8px;
    width: 98% !important;
}
.glyphicon { margin-right:5px; }
body{
  background:#fff;
  font-family: Open Sans;
}
.category{
  position:relative;
  top:-5px;
  left:10px;
  color:#20e3b2;
  font-weight:200;
  margin-bottom:-20px;
}
.well{  
  background:transparent;
  border-style:none;
}
.btn{
  border-style:none;
  
}
.col-md-3:hover{
  box-shadow: 1px 5px 25px #ccc;

}
.thumbnail
{
    margin-bottom: 0px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    
}
.inner{
  margin-left:0px;
}
.item{
width:250px;
padding:0;
margin-top:5px;
margin:15px;
box-shadow: 1px 5px 15px #CCC;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px; 
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{ 
    box-shadow: 0px 1px 25px #ccc;
}

.item.list-group-item .list-group-image
{
    margin-right:5px;
    
}
.item.list-group-item .thumbnail
{   
    margin-bottom: 0px;
  
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px; 

}


.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
   float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.btn-success,.btn-details{
  margin-top:40px;
}
.btn-details{
  background:transparent;
  border-style:solid;
  border-color:lightgrey;
  border-radius:0%;
  width:125px;
  top:11px;
  left:5px;
  color:black;
}
.btn-details:hover{
  background:lightgrey;
  color:white;
}
.lead{
  position:absolute;
  font-weight:700;
  font-size:18px;
}

.btn-success{
  overflow:hidden;
  border-radius:0%;
  border-style:none;
  width:125px;
  left:5px;
  top:11px;
  height:33px;
  background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

@keyframes scalewidth {
  0% {
width: 0%;
}
  100%{
width : 100%;
}
}
*, *:after, *:before {
    box-sizing: border-box;
}

h2, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

h2, h4 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #333333;
}

h2 {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
}

p, li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #555;
    line-height: 22px;
}

ul, li {
    text-decoration: none;
    list-style: disc outside;
}

ul {
    padding-left: 20px;
}

svg {
    margin: 0px;
    min-width: 24px;
    min-height: 24px;
}

/*body {
    background-color: #dadce2;
    background-image: linear-gradient(140deg, white, #dadce2);
    margin: 0;
    width: 100vw;
    min-height: 450px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.cardContainer {
    position: relative;
    width: 540px;
    height: 480px;
    min-width: 300px;
    min-height: 400px;
    margin: 4px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

/*.active {
    -webkit-transform: translateZ(0px) rotateY(180deg) !important;
    transform: translateZ(0px) rotateY(180deg) !important;
}

    .active:after {
        display: none;
    }*/

.cardFlashSale {
    display: inline-block;
    border: 4px solid #ddd;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-100px);
    transform: translateZ(-100px);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

    .cardFlashSale:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
        opacity: 0;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
    }

    .cardFlashSale:hover {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
    }

        .cardFlashSale:hover:after {
            opacity: 1;
        }

    .cardFlashSale .side {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: white;
    }

    .cardFlashSale .front {
        z-index: 2;
    }

    .cardFlashSale .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .cardFlashSale .info {
        padding: 16px;
    }

.front .img {
    background-color: #dadce2;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 350px;
}
b#text-discount{
    font-size: 15px;
}
#btn-muahang{
    float: right;
}

#danhGia {
    list-style: none;
    font-size: 13px;
}
#review-product {
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 15px 0;
}