body {
   
}
#form_dangnhap {
    border: 1px solid black;
    margin-top: 300px;
    
  
    
}

element.style {
}

button.btn.btn-danger.mt-4 {
    margin-top: 4px;
}
#popup-login {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
#full{
    height: 400px;
}
i.fa-solid.fa-xmark {
    color: aliceblue;
}

#idTinh, #idHuyen, #idXa {
    padding: 1em;
    margin: 8px, 0;
}
#txbTK {
    width: 100%;
    padding: 1em;
    border: 1px solid #A09F9F;
}
.label-m10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#btn-dangky{
    margin-top: 16px;
}

#chat {
    /* position: sticky;
    z-index: 9999;
    right: 0;
    width: 50px;*/
 
    position: fixed;
    height: 100%;
    z-index: 1000;
    right: 0px;
    top: 100px;
    margin-top: 200px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}

#img-chat{
    width: 50px
}

#box-chat {
    width: 300px;
    display: none;
    position: fixed;
 
    z-index: 1000;
    right: 0px;
    bottom:0;
    margin-top: 200px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
   
}
#exit-chat{
    color: white;
    cursor:pointer;
    float: right;
    padding:4px;
}
#title-chat {
    background-color: black;
    color: white;
    font-size: 13px;
    
    font-weight: bold;
    height: 40px;
}

#body-chat {
    height: 300px;
    background-color: #dde0e0;
}
#footer-chat {
    height: 50px;
    justify-content: space-between
}
#btn-send {
    background-color: #EF5F21;
    margin: 3px;
}
#gui {
    border: 1px;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    margin-bottom: 12px;
    max-width: 250px;
   
}
#nhan {
    border: 1px;
    background-color: dodgerblue;
    border-radius: 4px;
    
    padding: 4px;
    font-size: 12px;
    max-width: 250px;
    margin-left: 30px;
}
#carousel-shop, .flash-sale {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.spgoiy {
    position: relative;
    background: antiquewhite;
    width:270px!important;
    height: 370px!important;
}
.hover-sp {
    position: absolute;
    background-color: aliceblue
}
.card__body {
    position: relative;
    height: 185px;
    padding: 20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.card:hover .card__body {
    height: 300px;
}

.card__category {
    position: absolute;
    top: -25px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background-color: coral;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
}

.card__title {
    margin: 0;
    padding: 0 0 10px 0;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
    .card__title__a{
        font-size: 15px
    }

    .card__subtitle {
        margin: 0;
        padding: 0 0 10px 0;
        font-size: 19px;
        color: coral;
    }

.card__description {
    position: absolute;
    left: 20px;
    right: 20px;
   
    margin: 0;
    padding: 0;
    color: #666C74;
    line-height: 27px;
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.card:hover .card__description {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.card__footer {
    position: absolute;
    bottom: 12px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #A3A9A2;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    font-size: 18px;
}

    .icon + .icon {
        padding-left: 10px;
    }
