body {
   
}
#form_dangnhap {
    border: 1px solid black;
    margin-top: 300px;
    
  
    
}

element.style {
}

button.btn.btn-danger.mt-4 {
    margin-top: 4px;
}
#popup-login {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
#full{
    height: 400px;
}
i.fa-solid.fa-xmark {
    color: aliceblue;
}

#idTinh, #idHuyen, #idXa {
    padding: 1em;
    margin: 8px, 0;
}
#txbTK {
    width: 100%;
    padding: 1em;
    border: 1px solid #A09F9F;
}
.label-m10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#btn-dangky{
    margin-top: 16px;
}

#chat {
    /* position: sticky;
    z-index: 9999;
    right: 0;
    width: 50px;*/
 
    position: fixed;
    height: 100%;
    z-index: 1000;
    right: 0px;
    top: 100px;
    margin-top: 200px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}

#img-chat{
    width: 50px
}

#box-chat {
    width: 300px;
    display: none;
    position: fixed;
 
    z-index: 1000;
    right: 0px;
    bottom:0;
    margin-top: 200px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
   
}
#exit-chat{
    color: white;
    cursor:pointer;
    float: right;
    padding:4px;
}
#title-chat {
    background-color: black;
    color: white;
    font-size: 13px;
    
    font-weight: bold;
    height: 40px;
}

#body-chat {
    height: 300px;
    background-color: #dde0e0;
}
#footer-chat {
    height: 50px;
    justify-content: space-between
}
#btn-send {
    background-color: #EF5F21;
    margin: 3px;
}
#gui {
    border: 1px;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    margin-bottom: 12px;
    max-width: 250px;
   
}
#nhan {
    border: 1px;
    background-color: dodgerblue;
    border-radius: 4px;
    
    padding: 4px;
    font-size: 12px;
    max-width: 250px;
    margin-left: 30px;
}
#carousel-shop, .flash-sale {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.spgoiy {
    background: antiquewhite;
    width:270px!important;
    height: 370px!important;
}