
@{
    ViewBag.Title = "CheckAvtShop";
    Layout = "~/Views/Layout/ShopLayout.cshtml";
    int MaShop = ViewBag.MaShop;
}

@using (Html.BeginForm("CheckAvtShop", "Shop", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form-UpAvt", @name = "upavt" }))
{
    <!--   con = Container  for items in the form-->
    <div class="con" style="justify-content:center">
        <!--     Start  header Content  -->
        <header class="head-form">
            <h2>CẬP NHẬT ẢNH ĐẠI DIỆN CỦA CỬA HÀNG</h2>
            <!--     A welcome message or an explanation of the login form -->

        </header>
        <!--     End  header Content  -->
        <br>
        <div class="field-set">
            <input type="hidden" name="MaShop" value="@MaShop" />
            <!--   user name -->
            <img class="mx-auto d-block" src="~/Content/images//no-avt.jpg" alt="Alternate Text" />
            <input  name="avt" class="form-input" id="avt" type="file" required>



            <br>

            <!--   Password -->

            <br>
            <!--        buttons -->
            <!--      button LogIn -->
            <button id="btn-upavt" type="button" class="log-in mx-auto d-block"> Log In </button>
        </div>



        <!--   End Conrainer  -->
    </div>

    <!-- End Form -->
}
    <style>
        img {
            border-radius: 50%;
        }
    </style>


    <script>
        

        $("#btn-upavt").click(function (e) {
         
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {
                var fileUpload = $("#avt").get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                // Adding one more key to FormData object
                /* fileData.append('username', ‘Manas’);*/
                $.ajax({
                    url: '/Shop/CheckAvtShop',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        Swal.fire(
                            result,
                            'Vui lòng chờ ban quản trị xác nhận thông tin cửa hàng!',
                            'success'
                        )
                       
                    },
                    error: function (err) {
                        Swal.fire(
                            result,
                            'Vui lòng kiểm tra lại',
                            'error'
                        )
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        })
    </script>

