
@{
    ViewBag.Title = "ContThemSP";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
}


<h2>Thêm kích cỡ/màu sắc sản phẩm</h2>
<form id="idForm" action="@Url.Action("ContThemSPJS","Admin")" method="post">
    <div class="size">
        <div class="item-size i-0">

            <input type="hidden" id="MaSP" name="MaSP" value="@ViewBag.MaSP" />
            <div class="form-group">
                <label class="col-md-2 control-label">Kích cỡ/Màu sắc</label>
                <div class="col-md-10">
                    <input id="name_0" class="form-control m-3" type="text" name="Ten" />

                </div>
            </div>
            
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-2 control-label">Số Lượng</label>
                <div class="col-md-10">
                    <input id="sl_0" class="form-control m-3" type="number" name="SL" />

                </div>
            </div>
        </div>

    </div>

    <a href="#" style="float:right" id="btn-size" class="btn"><i class="fa-solid fa-plus"></i></a>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-success" id="btn-add" />
        </div>
    </div>
</form>
<script>
    let i = 1;
    $("#btn-size").click(function () {
        
        $(".size").append(' <div class="item-size i-'+i+'">' +  ' <div class= "form-group" >' +
            ' <label class="col-md-2 control-label">Kích cỡ/Màu sắc</label>' +
            '  <div class="col-md-10">' +
            '  <input id="name_' + i +'" class="form-control m-3" type="text" name="Ten"  />' +

            ' </div>' +
            '  </div >' +
            ' <div class="form-group">' +
            '  <label class="col-md-2 control-label">Số Lượng</label>' +
            '   <div class="col-md-10">' +
            '  <input id="sl_' + i +'" class="form-control m-3" type="number" name="SL"  />' +

            '  </div>' +
            ' </div>' +
            ' </div>'
        )
        i = i + 1;
       
    })
    function Review(Name, sl) {
        this.Name = Name;
        this.sl = sl;
        
    }


    $("#idForm").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.
        var arr = document.getElementsByClassName("item-size")
        var arr_infor = []
        console.log(arr.length)
        var MaSP = $("#MaSP").val();
        for (var j = 0; j < i; j++) {
            var Name = $("#name_" + j).val();

            var sl = $("#sl_" + j).val();

            arr_infor.push(new Review(Name, sl))
        }
        console.log(arr_infor)

        //var form = $(this);
        //var actionUrl = form.attr('action');
        for (var c = 0; c < arr_infor.length; c++) {
            console.log('gt')
            $.ajax({
                type: "POST",
                url: "http://localhost:62979/Admin/ContThemSPJS",
                data: { Ten: arr_infor[c].Name, SL: arr_infor[c].sl, MaSP: MaSP }, // serializes the form's elements.
                success: function (data) {
                    if (data.mess = "success") {

                        $.ajax({
                            type: "GET",
                            url: "http://localhost:62979/Admin/TotalQuantity?MaSP=" + MaSP,

                            success: function (dataT) {
                                console.log(dataT) // show response from the php script.
                                if (data.mess = "success") {
                                    Swal.fire({

                                        icon: 'success',
                                        title: 'Thêm thành công',
                                        text: 'Bạn đã thêm sản phẩm thành công',
                                        showConfirmButton: true,

                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = "http://localhost:62979/Admin/XemSanPham";
                                        }
                                    })

                                }
                                else {
                                    Swal.fire({

                                        icon: 'error',
                                        title: 'Xảy ra lỗi',
                                        text: 'Đã xảy ra lỗi, vui lòng thử lại sau!',
                                        showConfirmButton: true,

                                    })
                                }
                            }
                        });

                    }

                    else {
                        Swal.fire({

                            icon: 'error',
                            title: 'Xảy ra lỗi',
                            text: 'Đã xảy ra lỗi, vui lòng thử lại sau!',
                            showConfirmButton: true,

                        })
                    }

                }
            });
        }


    });
</script>