@using WebsiteBanHang.Models
@model List<ChiTietMatHangKinhDoanh>
@{
    ViewBag.Title = "XemMatHang";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
    int i = 1;
}

<table id="example" class="table table-hover" style="width:100%">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên Mặt Hàng</th>
          
            <th>
                Thao Tác
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@i</td>
                <td>@item.loaiSanPham.TenLoai</td>

               

                <td>
                    @if (item.NgungKD == true)
                    {

                        <a data-MaGG="@item.MaCTMatHang" id="btn-kd"
                           class="btn disabled btn-secondary btn-kd ">Đã ngưng kinh doanh</a>
                    }
                    else
                    {
                        <a data-MaGG="@item.MaCTMatHang" id="x"
                           class="btn btn-danger btn-huy x">Ngừng Kinh Doanh</a>
                    }
                    </td>

            </tr>
            i++;
        }



    </tbody>

</table>
<script>
    $(document).ready(function () {
        $('#example').DataTable();

        $("#x").click(function () {
            const MaCT = $(this).attr("data-MaGG")
            Swal.fire({
                title: 'Bạn đã chắc chắn?',
                text: "Nếu ngưng kinh doanh thì khách hàng sẽ không thể mua được nữa!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#40b043',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ngưng kinh doanh!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:62979/Admin/NgungKD?MaCT=" + MaCT,
                     

                        success: function (data) {
                            console.log(data) // show response from the php script.
                            if (data.data == "success") {
                                Swal.fire({

                                    icon: 'success',
                                    title: 'Cập nhật thành công',
                                    text: 'Mặt hàng này sẽ ngưng bán trên website',
                                    showConfirmButton: true,

                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.reload()
                                    }
                                })
                            }
                            else {
                                Swal.fire({

                                    icon: 'error',
                                    title: 'Xảy ra lỗi',
                                    text: 'Đã xảy ra lỗi, vui lòng thử lại sau!',
                                    showConfirmButton: true,

                                })
                            }
                        }
                    });
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        })
       
    })
</script>

