@using WebsiteBanHang.Models;
@model IEnumerable<SanPham>
<div class="content-top-bottom">
    <h2>Sản Phẩm Bán Chạy</h2>
    @foreach (var item in Model)
    {
        <div class="col-4 col-xs-12 men grid-top">
            <a href="@Url.Action("XemChiTietSP","SanPham", new {@id=item.MaSP})" class="b-link-stripe b-animate-go  thickbox">
                <img style="max-height:405px" class="img-responsive" src="@Url.Content("~/Content/images/"+item.HinhAnh)" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-top top-in   b-delay03 ">
                        <span>@item.MoTaNgan</span>
                    </h3>
                </div>
            </a>
            <p><a href="single.html">@item.TenSP</a></p>

        </div>
    }
</div>