
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/SearchLayout.cshtml";
}




<div class="blog-top">
    <div class="text-center mt-3 mb-3">
        <h1>TẠP CHÍ LÀM ĐẸP</h1>
    </div>

    <div class="col-md-4 grid_3">

        <div class="img">

            <a href="/blogs/tap-chi-lam-dep/top-4-loai-mut-trang-diem-pho-bien-nhat-hien-nay">
                <img class="img-gt" src="//file.hstatic.net/1000006063/article/top-4-loai-mut-trang-diem-pho-bien-nhat-hien-nay_258579ef069f4b23836f4f5530bce642_large.jpg">
            </a>
        </div>
        <div class="titleblog"><a class="tiltle-blog" href="/blogs/tap-chi-lam-dep/top-4-loai-mut-trang-diem-pho-bien-nhat-hien-nay">TOP  4 LOẠI MÚT TRANG ĐIỂM PHỔ BIẾN NHẤT HIỆN NAY</a></div>
        <p class="contentblog">Mút trang điểm là một món phụ kiện khá quen thuộc với tất cả các bạn đã, đang và sắp biết đến makeup. Trước đây mút trang điểm có thiết kế hình giọt nước đơn giản nhưng sau này nó được sản xuất đa dạng từ thiết kế, màu sắc cho đến chất liệu để đáp ứng được nhiều nhu cầu cho khách hàng hơn.Chính sự đa dạng đó đôi khi khiến các chị em phải rất đau đầu khi chọn mua mút trang điểm sao cho phù hợp với nhu cầu...</p>
        <p class="timerday">04/11/2022</p>

    </div>
    <div class="col-md-4 grid_3">

        <div class="img">

            <a href="/blogs/tap-chi-lam-dep/top-4-dao-cao-long-may-tot-nhat-hien-nay">
                <img class="img-gt" src="//file.hstatic.net/1000006063/article/top-4-dao-cao-long-may-tot-nhat-hien-nay_16f3b072fb5d4bd29abc19af4989d5aa_large.jpg">
            </a>
        </div>



        <div class="titleblog"><a class="tiltle-blog" href="/blogs/tap-chi-lam-dep/top-4-dao-cao-long-may-tot-nhat-hien-nay">TOP 4 DAO CẠO LÔNG MÀY TỐT NHẤT HIỆN NAY</a></div>
        <p class="p-blog">Dao cạo lông mày là một trong những phụ kiện làm đẹp cần thiết và không thể thiếu đối với chị em phụ nữ. Nó có tác dụng tỉa gọn đường chân màu theo ý muốn, giúp định hình khuôn chân mày thêm sắc sảo để tôn lên vẻ đẹp tự nhiên của người phụ nữ.Tuy nhiên hiện nay trên thị trường lại có rất nhiều loại dao cạo lông mày, chúng khác nhau ở chất liệu, thiết kế đến màu sắc khiến cho người tiêu dùng đau...</p>
        <p class="date">02/11/2022</p>





    </div>
    <div class="col-md-4 grid_3">

        <div class="img">

            <a href="/blogs/tap-chi-lam-dep/review-bo-suu-tap-son-merzy-academia-moi-nhat">
                <img class="img-gt" src="//file.hstatic.net/1000006063/article/review-bo-suu-tap-son-academia-moi-nhat_8f1ff7f0babc46e58f2bfff07c2db55d_large.jpg">
            </a>
        </div>
        <div class="titleblog"><a class="tiltle-blog" href="/blogs/tap-chi-lam-dep/review-bo-suu-tap-son-merzy-academia-moi-nhat">MERZY ACADEMIA - BỘ SƯU TẬP SON MANG ĐẬM PHONG CÁCH CỔ ĐIỂN</a></div>
        <p class="contentblog">Độ hot của cây son vỏ xanh lá Merzy The First Velvet Tint #V6 chưa kịp lắng xuống thì Merzy lại tiếp tục trình làng với bộ sưu tập son mang đậm phong cách quý tộc châu Âu mang tên MERZY ACADEMIA - thể hiện sự đam mê, khát khao về những giá trị thuộc phạm trù "cái đẹp".Với bộ sưu tập này, bảng màu son Merzy Academia tính đến hiện tại là 11 màu, bao gồm 6 màu son kem và 5 màu son thỏi. Mỗi một...</p>
        <p class="timerday">26/10/2022</p>




    </div>
    <div class="clearfix"> </div>
</div>

<div class="blog-top">
    <div class="col-md-4 grid_3">


        <div class="img">

            <a href="/blogs/tap-chi-lam-dep/top-5-kem-chong-nang-danh-cho-lan-da-treatment">
                <img class="img-gt" src="//file.hstatic.net/1000006063/article/top-5-kem-chong-nang-cho-lan-da-treatment_5b95a839f1fd42fbb185f7b844cfea28_large.jpg">
            </a>
        </div>
        <div class="titleblog"><a class="tiltle-blog" href="/blogs/tap-chi-lam-dep/top-5-kem-chong-nang-danh-cho-lan-da-treatment">TOP 5 KEM CHỐNG NẮNG DÀNH CHO LÀN DA TREATMENT</a></div>
        <p class="contentblog">Với những làn da vừa trải qua các liệu trình làm đẹp hay đang bị tổn thương do cơ địa hoặc do các yếu tố từ môi trường bên ngoài gây nên thì bước sử dụng kem chống nắng để bảo vệ da là một bước cực kỳ quan trọng, không thể thiếu trong chu trình skincare hàng ngày.Trên thị trường hiện nay có khá nhiều sản phẩm kem chống nắng khác nhau, thế nhưng không phải ai cũng biết cách để lựa chọn cho mình một sản phẩm chất...</p>
        <p class="timerday">08/10/2022</p>


    </div>
    <div class="col-md-4 grid_3">


        <div class="img">

            <a href="/blogs/tap-chi-lam-dep/top-5-serum-duong-da-phuc-hoi-cho-lan-da-treatment">
                <img class="img-gt" src="//file.hstatic.net/1000006063/article/top-5-serum-duong-da-phuc-hoi-cho-lan-da-treatment_1919fe5de276436f9552a0d8f6596756_large.jpg">
            </a>
        </div>
        <div class="titleblog"><a class="tiltle-blog" href="/blogs/tap-chi-lam-dep/top-5-serum-duong-da-phuc-hoi-cho-lan-da-treatment">TOP 5 SERUM DƯỠNG DA PHỤC HỒI CHO LÀN DA TREATMENT</a></div>
        <p class="contentblog">Với những làn da vừa trải qua liệu trình làm đẹp hay đang bị tổn thương do cơ địa hoặc do các yếu tố từ môi trường bên ngoài gây nên thì bước sử dụng serum phục hồi để bảo vệ da và kích thích làn da sản sinh tế bào mới là một bước cực kỳ quan trọng, không thể thiếu trong chu trình skincare hàng ngày.Trên thị trường hiện nay có khá nhiều sản phẩm serum phục hồi khác nhau, thế nhưng không phải ai cũng biết cách để lựa chọn...</p>
        <p class="timerday">12/10/2022</p>






    </div>
    <div class="col-md-4 grid_3">


        <div class="img">

            <a href="/blogs/tap-chi-lam-dep/top-5-loai-kem-duong-da-cho-lan-da-treatment">
                <img class="img-responsive" src="//file.hstatic.net/1000006063/article/top-5-kem-duong-am-cho-da-treatment_14ddcd8a731c4428832a1b6acc6cb8a6_large.jpg">
            </a>
        </div>
        <div class="titleblog"><a class="tiltle-blog" href="/blogs/tap-chi-lam-dep/top-5-loai-kem-duong-da-cho-lan-da-treatment">TOP 5 LOẠI KEM DƯỠNG DA CHO LÀN DA TREATMENT</a></div>
        <p class="contentblog">Với những làn da vừa trải qua các liệu trình làm đẹp hay đang bị tổn thương do cơ địa hoặc do các yếu tố từ môi trường bên ngoài gây nên thì bước sử dụng kem dưỡng phục hồi da là một bước cực kỳ quan trọng không thể thiếu trong chu trình skincare hàng ngày.Trên thị trường hiện nay có khá nhiều sản phẩm kem dưỡng ẩm phục hồi da khác nhau, thế nhưng không phải ai cũng biết cách để lựa chọn cho mình một sản phẩm...</p>
        <p class="timerday">01/10/2022</p>


    </div>
    <div class="clearfix"> </div>
</div>




