
@{
    ViewBag.Title = "QuangCao";
    Layout = "~/Views/Layout/Email.cshtml";
}

<center style="width: 100%; background-color: #f1f1f1;">
    <div style="display: none; font-size: 1px;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
    </div>
    <div style="max-width: 600px; margin: 0 auto;" class="email-container">
        <!-- BEGIN BODY -->
        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">

            <tr>
                <td valign="middle" class="hero bg_white" style="padding: 2em 0 2em 0;background-color: #9ecdf5">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="padding: 0 2.5em; text-align: left;">
                                <div class="text">

                                    <h1 style="color: white; font-family: cursive;">Sàn thương mại Ori Cute</h1>

                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr><!-- end tr -->
            <tr>
                <td>
                    <table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>

                            <td>
                                <img style="width:150px" class="mx-auto d-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwypu8Sq5C-afygr1Rb5qJUu-CxNAfuys5fWq4NXTJlqbKGLMSGhZIzlE6gWeaGH0yBo&usqp=CAU" alt="Alternate Text" />
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <h4 style="font-family: cursive" class="text-center">
                                    ###Name ơi, mình nhớ bạn quá điiii!
                                </h4>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p style="font-family: cursive" class="text-center">
                                    Chắc là bạn đang bị stress lúm hỏ, vào sàn thương mại mua sắm trực tuyến của Ori cute shopping xả stress đi nah! Yêu cậu.<i style="color:red" class="fa-solid fa-heart"></i>
                                </p>
                            </td>
                        </tr>


                    </table>
                </td>
            </tr><!-- end tr -->
            <!-- 1 Column Text + Button : END -->
        </table>
        <table style="background-color: #9ecdf5" align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
            <tr style="border: none;

            height: 40px;
            color:white;
            padding-bottom: 20px;
            text-align: center;">

                <td height="40px" align="center">

                    <a href="#"
                       style="border: none; text-decoration: none; padding: 5px; color: #ddd ">

                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="#"
                       style="border: none; text-decoration: none; padding: 5px; color: #ddd">
                        <i class="fa-brands fa-twitter"></i>
                    </a>

                    <a href="#"
                       style="border:none;
    text-decoration: none;
    padding: 5px; color:#ddd">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td style="font-family:'Open Sans', Arial, sans-serif;
           font-size:11px; line-height:18px;
           color:#999999;"
                    valign="top"
                    align="center">
                    <a href="#"
                       target="_blank"
                       style="color:#999999;
          text-decoration:underline;">PRIVACY STATEMENT</a>
                    | <a href="#" target="_blank"
                         style="color:#999999; text-decoration:underline;">TERMS OF SERVICE</a>
                    | <a href="#"
                         target="_blank"
                         style="color:#999999; text-decoration:underline;">RETURNS</a><br>
                    © 2022 OriCute. All Rights Reserved.<br>
                    If you do not wish to receive any further
                    emails from us, please
                    <a href="#"
                       target="_blank"
                       style="text-decoration:none;
                         color:#999999;">unsubscribe</a>
                </td>
            </tr>

        </table>

    </div>
</center>
